header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 3.75rem;
  background-color: #00A991;
  margin: 1.25rem;
  border-radius: 1rem;
}
header a {
  padding: 0.94rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: #1D2129;
}
header a:hover {
  color: #E9ECEF;
}
header ul {
  background-color: #00A991;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  padding: 1.25rem;
}
header #icone {
  margin-right: 1.25rem;
}
header #icone i {
  padding: 0.75rem;
  font-size: 1.88rem;
  color: #1D2129;
}
header #icone i:hover {
  color: #E9ECEF;
}

.navHamburger {
  margin: 0;
  width: 2em;
  height: 1.5em;
  position: absolute;
  z-index: 110;
  top: 1.25rem;
  left: 3rem;
  transform: rotate(0deg);
  transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navHamburger span {
  left: 0;
  width: 100%;
  height: 0.13rem;
  display: block;
  position: absolute;
  background-color: #1D2129;
}
.navHamburger span:nth-child(1) {
  top: 0;
  width: 100%;
}
.navHamburger span:nth-child(2),
.navHamburger span:nth-child(3) {
  top: 10px;
  width: 100%;
}
.navHamburger span:nth-child(4) {
  top: 20px;
  width: 100%;
}

.open .navHamburger {
  transform: rotate(180deg);
}

.open .navHamburger span:nth-child(1) {
  top: 2rem;
  width: 0;
}

.open .navHamburger span:nth-child(2) {
  transform: rotate(45deg);
  width: 100%;
}

.open .navHamburger span:nth-child(3) {
  transform: rotate(-45deg);
  width: 100%;
}

.open .navHamburger span:nth-child(4) {
  width: 0;
  top: 50%;
}

.offScreeMenu {
  height: 100vh;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: -450px;
}

.open .offScreeMenu {
  left: 1.25rem;
  top: 3.007rem;
  transition: all 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.offScreeMenuTelefono {
  height: 100vh;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: -450px;
}

.openTelefono .offScreeMenuTelefono {
  right: 1.25rem;
  top: 1.625rem;
  transition: all;
  z-index: -100;
}
.openTelefono .offScreeMenuTelefono ul {
  margin-top: 1.25rem;
  padding-top: 2rem;
}

.offScreeMenuWhatsapp {
  height: 100vh;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: -450px;
}

.openWhatsapp .offScreeMenuWhatsapp {
  right: 1.25rem;
  top: 1.65rem;
  transition: all;
  z-index: -100;
}
.openWhatsapp .offScreeMenuWhatsapp ul {
  margin-top: 1.25rem;
  padding-top: 2rem;
}

.offScreeMenuEmail {
  height: 100vh;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: -450px;
}

.openEmail .offScreeMenuEmail {
  right: 1.25rem;
  top: 1.65rem;
  transition: all;
  z-index: -100;
}
.openEmail .offScreeMenuEmail ul {
  margin-top: 1.25rem;
  padding-top: 2rem;
}

.menuList {
  list-style-type: none;
}

footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #1D2129;
  background-color: #00A991;
  padding-top: 1.25rem;
  bottom: 0;
  font-size: 1rem;
  margin-top: 1.56rem;
  position: static;
  bottom: 0;
}
@media (max-width: 650px) {
  footer {
    display: block;
    padding-bottom: 1.87rem;
  }
  footer p {
    text-align: center;
  }
}
footer div {
  text-align: center;
}
footer a {
  padding: 0.625rem;
  font-size: 2rem;
  color: #1D2129;
}
footer a:hover {
  color: #F7F7F7;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #1D2129;
  margin: 1.56rem 3rem;
  text-align: center;
}

.form {
  width: auto;
  border-color: #00A991;
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  color: #1D2129;
  align-items: center;
  margin-bottom: 1.25rem;
  padding: 2rem;
  font-family: "Inconsolata", monospace;
}
@media (max-width: 1200px) {
  .form {
    margin: 1.25rem;
    padding: 1.25rem;
  }
}
.btn {
  text-align: end;
  color: #00A991;
  background-color: #1D2129;
  border-color: #00A991;
}
@media (max-width: 576px) {
  .btn {
    margin-top: 1.25rem;
  }
}
.btn:hover {
  color: #1D2129;
  background-color: #00A991;
  border-color: #00A991;
}

.formElement {
  margin-bottom: 1.25rem;
}

.my-placeholder::-moz-placeholder {
  color: #00A991;
  opacity: 0.5;
}

.my-placeholder::placeholder {
  color: #00A991;
  opacity: 0.5;
}/*# sourceMappingURL=contattami.css.map */